<link href="~/Content/menuLateral.css" rel="stylesheet" />
<link href="~/Content/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert2/sweetalert2.min.js"></script>
<script src="~/Scripts/pages/"></script>

@RenderBody()
<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-widtDashh" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div id="wrapper">
            <div class="overlay"></div>

            <!-- Sidebar -->
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="sidebar-brand tituloMenu">
                        <a href="#" class="tituloMenu">
                            RSBrasil
                        </a>
                    </li>
                    <li>
                        <a class="links" href="#">
                            <span class="glyphicon glyphicon-heart"></span>
                            Afastamento Medico
                        </a>
                    </li>
                    <li>
                        <a class="links" href="#">
                            <span class="glyphicon glyphicon-book"></span>
                            Cargo
                        </a>
                    </li>
                    <li>
                        <a class="links" href="#">
                            <span class="glyphicon glyphicon-registration-mark"></span>
                            Cliente
                        </a>
                    </li>
                    <li>
                        <a class="links" href="#">
                            <span class="glyphicon glyphicon-tree-deciduous"></span>
                            Contrato
                        </a>
                    </li>
                    <li>
                        <a class="links" href="#">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            Documento
                        </a>
                    </li>
                    <li>
                        <a class="links" href="#">
                            <span class="glyphicon glyphicon-road"></span>
                            Endereços
                        </a>
                    </li>
                    @*
                        
                    *@
                    <li>
                        <a href="#" class="links">
                            <span class="glyphicon glyphicon-random"></span>
                            Perfil Acesso
                        </a>
                    </li>
                    <li>
                        <a href="#" class="links">
                            <span class="glyphicon glyphicon-phone"></span>
                            Telas
                        </a>
                    </li>
                    <li>
                        <a href="#" class="links">
                            <span class="glyphicon glyphicon-new-window"></span>
                            Tipo Perfil
                        </a>
                    </li>
                </ul>
            </nav>
            <div id="page-content-wrapper">
                <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                    <span class="hamb-top"></span>
                    <span class="hamb-middle"></span>
                    <span class="hamb-bottom"></span>
                </button>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <script src="~/Scripts/menuLateral/menuLateral.js"></script>
        @RenderSection("scripts", required: false)
    </body>
    </html>